@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/fonts/JosefinSans-Light.ttf") format(trueType);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/fonts/JosefinSans-Regular.ttf") format(trueType);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/fonts/JosefinSans-SemiBold.ttf") format(trueType);
  font-weight: 600;
  font-display: swap;
}
